# More linear regression algorithms

In this notebook, we're going to march through lots of ways to do regression with `sklearn`.

In [2]:
import pandas as pd

df = pd.read_csv('https://geocomp.s3.amazonaws.com/data/RPC_4_lithologies_original.csv')

df

        RPC          Description  Lithology  Vp [m/s]  Vs [m/s]  Rho [g/cm³]
0    104818    KIAMICHI FORMA. 4  sandstone   3045.60   1595.70        2.108
1    104893    KIAMICHI REMOLD 3  sandstone   3000.60   1517.10        2.126
2    104652        NAVAJO ARCO 2  sandstone   3363.60   2041.50        2.162
3    104752  NAVAJO ARCO REMOL 1  sandstone   3195.30   1606.20        2.160
4    104598   FERRON 82-3 1677.5  sandstone   4237.50   2448.60        2.428
..      ...                  ...        ...       ...       ...          ...
795  102178  R.PRICE 10909.5 #31   dolomite   4625.98   2759.19        2.370
796  102225  R.PRICE 10916.5 #38   dolomite   5446.19   3116.80        2.440
797  102088   R.PRICE 10883.5 #7   dolomite   5446.19   2998.69        2.570
798  102213  R.PRICE 10913.5 #35   dolomite   5347.77   2933.07        2.440
799  102086   R.PRICE 10883.5 #7   dolomite   5347.77   2896.98        2.570

[800 rows x 6 columns]