# Reading data from files

Sometimes we need to read data from files. In general, these will be text files or binary files. Text files are easy to read, binary files are not.

Let's start with writing and then reading a bit of text.

In [1]:
with open('../data/myfile.txt', 'w') as f:
    f.write('My text data.')

Now we can read this data:

In [2]:
with open('../data/myfile.txt', 'r') as f:
    data = f.read()
data

'My text data.'

## File modes

You have to decide what you want to do with the file.

- **`r`** &mdash; read only (default)
- **`r+`** &mdash; read and write (pointer at 0 &mdash; careful to manage the pointer!)
- **`x`** &mdash; open for exclusive creation, failing if the file already exists (add `+` for read and write)
- **`w`** &mdash; write new file **and clobbers existing file if it already exists**
- **`a`** &mdash; append existing

You can also add another letter to indicate whether you're handling text or bytes:

- **`t`** &mdash; text (default)
- **`b`** &mdash; bytes

For example, to open an existing text file for appending data to the end:

    with open(fname, 'at') as f:
        f.write('New data')

## Read some data

Let's read some tops data:

In [4]:
with open('../data/L-30_tops.txt', 'r') as f:
    data = f.read()

In [5]:
data

'# L-30 well tops\nWyanDot FM,867.156\nDAWSON CANYON FM,984.50402\nLOGAN CANYON FM,1136.904\nUpper MISSISAUGA FM,2251.2529\nLower MISSISAUGA FM,3190.6464\nABENAKI FM,3404.3112\nMID BACCARO,3485.0832\nLower BACCARO,3964.5337\nBase O-Marker,2469.207\nTD,4268.0\nPay_sand_1-rft,2478.0\npay_sand_2,2499.0\npay_sand_3,2543.0\npay_sand_4,2637.0\nsand_5,2699.0\nsand_6,2795.0\nsand_7,2835.0\n'

In [6]:
with open('../data/L-30_tops.txt', 'r') as f:
    lines = f.readlines()

In [7]:
lines

['# L-30 well tops\n',
 'WyanDot FM,867.156\n',
 'DAWSON CANYON FM,984.50402\n',
 'LOGAN CANYON FM,1136.904\n',
 'Upper MISSISAUGA FM,2251.2529\n',
 'Lower MISSISAUGA FM,3190.6464\n',
 'ABENAKI FM,3404.3112\n',
 'MID BACCARO,3485.0832\n',
 'Lower BACCARO,3964.5337\n',
 'Base O-Marker,2469.207\n',
 'TD,4268.0\n',
 'Pay_sand_1-rft,2478.0\n',
 'pay_sand_2,2499.0\n',
 'pay_sand_3,2543.0\n',
 'pay_sand_4,2637.0\n',
 'sand_5,2699.0\n',
 'sand_6,2795.0\n',
 'sand_7,2835.0\n']

Note that we can also use this pattern:

In [2]:
with open('../data/L-30_tops.txt', 'r') as f:
    for line in f:
        print(line, end='')

# Formation name,Depth
WyanDot FM,867.156
DAWSON CANYON FM,984.50402
LOGAN CANYON FM,1136.904
Upper MISSISAUGA FM,2251.2529
Lower MISSISAUGA FM,3190.6464
ABENAKI FM,3404.3112
MID BACCARO,3485.0832
Lower BACCARO,3964.5337
Base O-Marker,2469.207
TD,4268.0
Pay_sand_1-rft,2478.0
pay_sand_2,2499.0
pay_sand_3,2543.0
pay_sand_4,2637.0
sand_5,2699.0
sand_6,2795.0
sand_7,2835.0

### Exercise

Write a `for` loop to read the lines of the file one by one, adding key:value pairs to a dictionary as you go.

<a title="You will need to skip the loop over lines that look like comments. Use str.split() to break the line at a comma, and `float()` to convert strings to numbers.">**Hover for hints**</a>

In [9]:
# YOUR CODE HERE

In [13]:
tops = {}
for line in lines:

    if line.startswith('#'):
        continue
    name, depth = line.split(',')
    name = name.title()
    depth = float(depth.strip())

    tops[name] = depth

In [14]:
tops

{'Abenaki Fm': 3404.3112,
 'Base O-Marker': 2469.207,
 'Dawson Canyon Fm': 984.50402,
 'Logan Canyon Fm': 1136.904,
 'Lower Baccaro': 3964.5337,
 'Lower Missisauga Fm': 3190.6464,
 'Mid Baccaro': 3485.0832,
 'Pay_Sand_1-Rft': 2478.0,
 'Pay_Sand_2': 2499.0,
 'Pay_Sand_3': 2543.0,
 'Pay_Sand_4': 2637.0,
 'Sand_5': 2699.0,
 'Sand_6': 2795.0,
 'Sand_7': 2835.0,
 'Td': 4268.0,
 'Upper Missisauga Fm': 2251.2529,
 'Wyandot Fm': 867.156}

### Exercise

Your challenge is to turn this into a function, or functions, complete with docstring and any options you want to try to implement.

- Make sure everything, including the file reading, is handled by your function.
- Don't forget the docstring!
- When the function works on `../data/L-30_tops.txt`, make it work on `../data/B-41_tops.txt`. This will take some debugging.
- Remember you have the `clean_depth()` code from `Intro_to_Python` (it might even be in your `utils.py` module).
- You will probably want to let the user choose different 'comment' characters.
- Let the user select different delimiters, other than a comma.
- Other things, like skipping lines or transforming the case of the names, could also be optional.
- Maybe print some 'progress logging' as you go, so the user knows what's going on. If you want, dig into the `logging` or `warnings` modules built in to Python.

When you're done, add the function to `utils.py`.

### Instructor notes

- Start with the loop
- When a simple loop works, put it in a function, should be something like the first function, below.
- Add a (short) docstring.
- Once in a function, get it working on B-41.txt.
- Remove hard-coded parameters, one at a time.

In [15]:
def get_tops_from_file(fname):

    with open(fname, 'r') as f:
        lines = f.readlines()

    tops = {}

    for line in lines:

        if line.startswith('#'):
            continue

        top, depth = line.split(',')

        top = top.title()

        tops[top] = float(depth)

    return tops

Ideally, students will use the depth cleaning function they assembled / wrote on Day 1. It should be un `util.py`, but if not, here it is:

In [40]:
def clean_depth(string):
    """Clean the units from a number."""
    if 'm' in string.lower():
        units = 'M'
    elif 'f' in string.lower():
        units = 'FT'
    else:
        units = None

    stripped = string.lower().strip(' .mft\n\t')
    value = stripped.replace(',', '')

    return float(value), units

In [3]:
def get_tops_from_file(fname, skip=0, comment='#', delimiter=',', null=-999.25, fix_case=True):
    """
    Read a CSV-like file and get top depths from it.
    """
    with open(fname, 'r') as f:
        data = f.readlines()[skip:]

    tops = {}
    for line in data:
        
        # Skip comment rows.
        if line.startswith(comment):
            continue

        # Assign names to elements.
        name, dstr = line.split(delimiter)

        if fix_case:
            name = name.title()

        # Get rid of extra chars.
        try:
            depth, _ = clean_depth(dstr)  # << don't use clean_depth()[0], the assignment is clearer.
        except ValueError:
            depth = null
        
        tops[name] = depth
        
    return tops

In [4]:
get_tops_from_file('../data/B-41_tops.txt')

ValueError: not enough values to unpack (expected 2, got 1)

## Reading multiple files

Sometimes you will want to read a lot of files from disk, perhaps even from multiple directories. The easiest way to do this is with the built-in library `glob`, which accept POSIX-style paths, with wildcards etc. [Read about these.](https://tldp.org/LDP/GNU-Linux-Tools-Summary/html/x11655.htm)

`glob.glob(path)` returns a list of filenames.

In [6]:
from glob import glob

for fname in glob('../data/sussex/UWI*.tops'):
    print(fname)

../data/sussex/UWI_4900523138.tops
../data/sussex/UWI_4900523389.tops
../data/sussex/UWI_4900525200.tops
../data/sussex/UWI_4900524005.tops
../data/sussex/UWI_4900523444.tops
../data/sussex/UWI4999999999.tops
../data/sussex/UWI_4900523013.tops
../data/sussex/UWI_4900524277.tops
../data/sussex/UWI_4900523595.tops
../data/sussex/UWI_4900523570.tops
../data/sussex/UWI_4900525104.tops
../data/sussex/UWI_4900524228.tops
../data/sussex/UWI_4900525135.tops
../data/sussex/UWI_4900525111.tops
../data/sussex/UWI_4900525133.tops
../data/sussex/UWI_4900523478.tops
../data/sussex/UWI_4900527320.tops
../data/sussex/UWI_4900525209.tops
../data/sussex/UWI_4900523333.tops
../data/sussex/UWI_4900523649.tops
../data/sussex/UWI_4900525210.tops
../data/sussex/UWI_4900523816.tops
../data/sussex/UWI_4900524006.tops
../data/sussex/UWI_4900523753.tops
../data/sussex/UWI_4900523863.tops
../data/sussex/UWI_4900523499.tops
../data/sussex/UWI_4900523650.tops
../data/sussex/UWI_4900524202.tops
../data/sussex/UWI_4900522918.tops
../data/sussex/UWI_4900525134.tops
../data/sussex/UWI_4900525287.tops

There are other options too, for example `os.walk()` allows you to 'walk' an entire branch of the file system. People often use this with `fnmatch.fnmatch()` for POSIX-like filename matching.

There's also `os.listdir()` which is the fastest of these options. Unlike `glob.glob()` is returns filenames only, not paths, so you will have to construct the path yourself to read a file.

In [5]:
import os

for fname in os.listdir('../data/sussex'):
    if 'UWI' in fname:
        print(fname)

UWI_4900523138.tops
UWI_4900523389.tops
UWI_4900525200.tops
UWI_4900524005.tops
UWI_4900523444.tops
UWI4999999999.tops
UWI_4900523013.tops
UWI_4900524277.tops
UWI_4900523595.tops
UWI_4900523570.tops
UWI_4900525104.tops
UWI_4900524228.tops
UWI_4900525135.tops
UWI_4900525111.tops
UWI_4900525133.tops
UWI_4900523478.tops
UWI_4900527320.tops
UWI_4900525209.tops
UWI_4900523333.tops
UWI_4999999999.txt
UWI_4900523649.tops
UWI_4900525210.tops
UWI_4900523816.tops
UWI_4900524006.tops
UWI_4900523753.tops
UWI_4900523863.tops
UWI_4900523499.tops
UWI_4900523650.tops
UWI_4900524202.tops
UWI_4900522918.tops
UWI_4900525134.tops
UWI_4900525287.tops

## Intro to Python students: stop here for now

----

## Reading with `pandas`

### EXERCISE

Can you read either Tops file using `pd.read_csv()`?

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/B-41_tops.txt',
                 comment="%",
                 delimiter='\t',
                 names=['Formation', 'Depth'],
                )


df.Formation = df.Formation.str.title()

df.Depth = df.Depth.str.rstrip('M').replace('', '-999.25')
df.Depth = df.Depth.astype(float).replace({-999.25: np.nan})

df

             Formation       Depth
0           WyanDot FM  858.62158M
1     DAWSON CANYON FM    985.113M
2      LOGAN CANYON FM  1157.0207M
3  Upper MISSISAUGA FM  2246.9856M
4  Lower MISSISAUGA FM  3190.6464M
5        Base O-Marker   2472.561M
6              Abenaki     -999.25
7           pay_sand_1           M
8                   TD     -999.25

In [11]:
import numpy as np

df.Formation = df.Formation.str.title()

df.Depth = df.Depth.str.rstrip('M').replace('', '-999.25')
df.Depth = df.Depth.astype(float).replace({-999.25: np.nan})

df

             Formation       Depth
0           Wyandot Fm   858.62158
1     Dawson Canyon Fm   985.11300
2      Logan Canyon Fm  1157.02070
3  Upper Missisauga Fm  2246.98560
4  Lower Missisauga Fm  3190.64640
5        Base O-Marker  2472.56100
6              Abenaki         NaN
7           Pay_Sand_1         NaN
8                   Td         NaN

Make a CSV file with these improvements.

In [ ]:
pd.to_csv('../data/L-30_tops.csv')

## Read using NumPy

We can use `np.loadtxt()` for numeric files.

In [20]:
import numpy as np

np.loadtxt('../data/L-30_tops.txt', skiprows=1, usecols=[1], delimiter=',')

array([ 867.156  ,  984.50402, 1136.904  , 2251.2529 , 3190.6464 ,
       3404.3112 , 3485.0832 , 3964.5337 , 2469.207  , 4268.     ,
       2478.     , 2499.     , 2543.     , 2637.     , 2699.     ,
       2795.     , 2835.     ])

Or there's [`np.genfromtxt()`](https://docs.scipy.org/doc/numpy-1.13.0/user/basics.io.genfromtxt.html), which copes better with missing values &mdash; try running it on `'../data/B-41_tops.txt'`.

In [21]:
np.genfromtxt('../data/L-30_tops.txt', skip_header=1, delimiter=',')

array([[       nan,  867.156  ],
       [       nan,  984.50402],
       [       nan, 1136.904  ],
       [       nan, 2251.2529 ],
       [       nan, 3190.6464 ],
       [       nan, 3404.3112 ],
       [       nan, 3485.0832 ],
       [       nan, 3964.5337 ],
       [       nan, 2469.207  ],
       [       nan, 4268.     ],
       [       nan, 2478.     ],
       [       nan, 2499.     ],
       [       nan, 2543.     ],
       [       nan, 2637.     ],
       [       nan, 2699.     ],
       [       nan, 2795.     ],
       [       nan, 2835.     ]])

Both functions have a useful keyword argument, `unpack`, which you should set to `True` to get the columns back as separate vectors.

Note that both functions can read GZIP files too.

## Reading without loops: `re`

You can learn about regex and the `re` module in two notebooks:

- [Regular_expressions_intro.ipynb](../demos/Regular_expressions_intro.ipynb)
- [Regular_expressions_for_text_processing.ipynb](../demos/Regular_expressions_for_text_processing.ipynb)

In [50]:
# With regex.
import re

with open('../data/L-30_tops.txt') as f:
    data = re.findall('(.+?),([.0-9]+)', f.read())
    tops = {name: float(depth) for name, depth in data}

In [51]:
tops

{'WyanDot FM': 867.156,
 'DAWSON CANYON FM': 984.50402,
 'LOGAN CANYON FM': 1136.904,
 'Upper MISSISAUGA FM': 2251.2529,
 'Lower MISSISAUGA FM': 3190.6464,
 'ABENAKI FM': 3404.3112,
 'MID BACCARO': 3485.0832,
 'Lower BACCARO': 3964.5337,
 'Base O-Marker': 2469.207,
 'TD': 4268.0,
 'Pay_sand_1-rft': 2478.0,
 'pay_sand_2': 2499.0,
 'pay_sand_3': 2543.0,
 'pay_sand_4': 2637.0,
 'sand_5': 2699.0,
 'sand_6': 2795.0,
 'sand_7': 2835.0}

## Reading without loops: `map`

In [13]:
# Another way (awesome)
def process_line(line):
    k, v = line.split(',')
    return k, float(v)

with open('../data/L-30_tops.txt') as f:
    _ = f.readline()  # Skip first line.
    tops = dict(map(process_line, f))
    
tops

{'WyanDot FM': 867.156,
 'DAWSON CANYON FM': 984.50402,
 'LOGAN CANYON FM': 1136.904,
 'Upper MISSISAUGA FM': 2251.2529,
 'Lower MISSISAUGA FM': 3190.6464,
 'ABENAKI FM': 3404.3112,
 'MID BACCARO': 3485.0832,
 'Lower BACCARO': 3964.5337,
 'Base O-Marker': 2469.207,
 'TD': 4268.0,
 'Pay_sand_1-rft': 2478.0,
 'pay_sand_2': 2499.0,
 'pay_sand_3': 2543.0,
 'pay_sand_4': 2637.0,
 'sand_5': 2699.0,
 'sand_6': 2795.0,
 'sand_7': 2835.0}

## Reading without loops: `map` and `filter`

We can avoid the ugly `_ = f.readline()` in the previous cell by filtering the lines with an `is_valid` function that checks we're not in a comment.

In [22]:
def process_line(line):
    """Process one valid line.
    """
    k, v = line.split(',')
    return k, float(v)

def is_valid(line):
    """Decide is a line is processable.
    """
    return '#' not in line

with open('../data/L-30_tops.txt') as f:
    tops = dict(map(process_line, filter(is_valid, f)))
    
tops

{'WyanDot FM': 867.156,
 'DAWSON CANYON FM': 984.50402,
 'LOGAN CANYON FM': 1136.904,
 'Upper MISSISAUGA FM': 2251.2529,
 'Lower MISSISAUGA FM': 3190.6464,
 'ABENAKI FM': 3404.3112,
 'MID BACCARO': 3485.0832,
 'Lower BACCARO': 3964.5337,
 'Base O-Marker': 2469.207,
 'TD': 4268.0,
 'Pay_sand_1-rft': 2478.0,
 'pay_sand_2': 2499.0,
 'pay_sand_3': 2543.0,
 'pay_sand_4': 2637.0,
 'sand_5': 2699.0,
 'sand_6': 2795.0,
 'sand_7': 2835.0}

In [30]:
# Update that one to deal with B-41.
# Curry is_valid to allow other chars.
def process_line(line):
    k, v = line.split(',')
    v = v.lower().strip('ftm \n')
    if not v:
        v = -999.25
    return k, float(v)

def is_valid(char):
    return lambda line: char not in line

with open('../data/B-41_tops.txt') as f:
    tops = dict(map(process_line, filter(is_valid('%'), f)))

tops

{'WyanDot FM': 858.62158,
 'DAWSON CANYON FM': 985.113,
 'LOGAN CANYON FM': 1157.0207,
 'Upper MISSISAUGA FM': 2246.9856,
 'Lower MISSISAUGA FM': 3190.6464,
 'Base O-Marker': 2472.561,
 'Abenaki': -999.25,
 'pay_sand_1': -999.25,
 'TD': -999.25}

## Reading without loops: `dict` comprehension

A (gross) one-liner! But seriously, this is getting silly...

In [10]:
# An awful one-liner
with open('../data/B-41_tops.txt') as f:
    tops = {k: float(v.lower().strip(' \n\tm') or 0) for k, v in [l.split(',') for l in f if '%' not in l]}

tops

{'WyanDot FM': 858.62158,
 'DAWSON CANYON FM': 985.113,
 'LOGAN CANYON FM': 1157.0207,
 'Upper MISSISAUGA FM': 2246.9856,
 'Lower MISSISAUGA FM': 3190.6464,
 'Base O-Marker': 2472.561,
 'Abenaki': -999.25,
 'pay_sand_1': 0.0,
 'TD': -999.25}

## Read CSV files using pandas

Reading a CSV is easy:

In [1]:
import pandas as pd

df = pd.read_csv('../data/L-30_tops.csv')

df.head()

        Formation name   Depth [m]
0           WyanDot FM   867.15600
1     DAWSON CANYON FM   984.50402
2      LOGAN CANYON FM  1136.90400
3  Upper MISSISAUGA FM  2251.25290
4  Lower MISSISAUGA FM  3190.64640

In [3]:
df['Formation name'] = df['Formation name'].str.title()
df.head()

        Formation name   Depth [m]
0           Wyandot Fm   867.15600
1     Dawson Canyon Fm   984.50402
2      Logan Canyon Fm  1136.90400
3  Upper Missisauga Fm  2251.25290
4  Lower Missisauga Fm  3190.64640

In [4]:
df.to_csv('../data/L-30_tops_improved.csv')

## `csv` built-in module

In [20]:
import csv

with open('../data/L-30_tops.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Formation name', 'Depth [m]']
['WyanDot FM', '867.156']
['DAWSON CANYON FM', '984.50402']
['LOGAN CANYON FM', '1136.904']
['Upper MISSISAUGA FM', '2251.2529']
['Lower MISSISAUGA FM', '3190.6464']
['ABENAKI FM', '3404.3112']
['MID BACCARO', '3485.0832']
['Lower BACCARO', '3964.5337']
['Base O-Marker', '2469.207']
['TD', '4268.0']
['Pay_sand_1-rft', '2478.0']
['pay_sand_2', '2499.0']
['pay_sand_3', '2543.0']
['pay_sand_4', '2637.0']
['sand_5', '2699.0']
['sand_6', '2795.0']
['sand_7', '2835.0']

In [22]:
import csv

with open('../data/L-30_tops.csv') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row['Formation name'], row['Depth [m]'])

WyanDot FM 867.156
DAWSON CANYON FM 984.50402
LOGAN CANYON FM 1136.904
Upper MISSISAUGA FM 2251.2529
Lower MISSISAUGA FM 3190.6464
ABENAKI FM 3404.3112
MID BACCARO 3485.0832
Lower BACCARO 3964.5337
Base O-Marker 2469.207
TD 4268.0
Pay_sand_1-rft 2478.0
pay_sand_2 2499.0
pay_sand_3 2543.0
pay_sand_4 2637.0
sand_5 2699.0
sand_6 2795.0
sand_7 2835.0

## Addendum: Using SQLite

See _Writing to files and databases_ for more on SQLite.

In [70]:
import sqlite3 as lite
import sys

con = lite.connect('tops.db')

with con:
    
    cur = con.cursor()    
    cur.execute("CREATE TABLE strat(formation TEXT, depth DECIMAL, age INT)")
    
    for name, depth in tops.items():
        cur.execute("INSERT INTO strat VALUES('{}',{},{})".format(name, depth, 0))

In [71]:
con = lite.connect('tops.db')

with con:    
    
    cur = con.cursor()    
    cur.execute("SELECT * FROM strat")

    rows = cur.fetchall()

    for row in rows:
        print(row)

('Wyandot Fm', 867.156, 0)
('Dawson Canyon Fm', 984.50402, 0)
('Logan Canyon Fm', 1136.904, 0)
('Upper Missisauga Fm', 2251.2529, 0)
('Lower Missisauga Fm', 3190.6464, 0)
('Abenaki Fm', 3404.3112, 0)
('Mid Baccaro', 3485.0832, 0)
('Lower Baccaro', 3964.5337, 0)
('Base O-Marker', 2469.207, 0)
('Td', 4268, 0)
('Pay_Sand_1-Rft', 2478, 0)
('Pay_Sand_2', 2499, 0)
('Pay_Sand_3', 2543, 0)
('Pay_Sand_4', 2637, 0)
('Sand_5', 2699, 0)
('Sand_6', 2795, 0)
('Sand_7', 2835, 0)